
@{
    ViewBag.Title = "Index";
}

<h2>Peticiones Pendientes</h2>
<form action="/Apidomo/PeticionesPendientes" method="post">
    <input name="json" type="text" value="{'idcentral': 'aa22'}" />
</form>